{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      div.job {
          color: white;
      }
      .job span{
        font-size: 0.6em;
      }
      .job a{
        color:darkorange;
      }
      .job a:hover{
        color:darkorange;
      }
      footer{
        font-size: 0.8em;
      }
      footer img{
        width: 1.3em;
        justify-content: center;
        align-items: center;
      }
    </style>
    <link href="{% static 'css/project.css' %} " rel="stylesheet">
{% endblock custom_css %}
{% block content %}

  <div class="container pt-5">
    <h2 class="text-center pb-3">P R O J E C T: {{job.title}}</h2>
    <div class="row">
        
        <div class="job col-lg-12 pt-5">
            <img src="{{job.image.url}}" alt="" class="img-fluid">    <br> <br>
          <h5>
            Project summary: <br> 
            <span>
              {{job.summary}}.
              {% if job.medium_link %}
                You will find a more detailed documentation of the project <a href="{{job.medium_link}}">here</a>
              {% endif %}
            </span>
          </h5>
          <br>
          
          <h5>Project status: <span>{{job.status}}</span> </h5> <br>
          
          <h5> Codebase : <span>View project on <a href="{{job.github_link}}"> Github </a></span></h5>
          
        </div>
        
    </div>

{% endblock content %}