{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
  <style>
      .row a, h6 a{
        color:darkorange;
      }
      .row a:hover, h6 a:hover{
        color:darkorange;
      }

      .description h3{
        border-top: 4px solid white;
        border-radius: 4px;
      }
      form li{
        display: none;
      }
      footer{
        font-size: 0.8em;
      }
      footer img{
        width: 1.3em;
        justify-content: center;
        align-items: center;
      }
    </style>
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


  <main role="main" class="pt-5 inner cover text-center">
    <h1 class="cover-heading"><img class="img-fluid" src="/media/images/maleem-serpia.jpg" alt=""></h1>
    <p class="lead">
        Hi, i'm Olumide "Maleem" Bello, an entry-level fullstack web developer, 🐍Python programmer and automation engineer.
    </p>
    <p class="lead">
      <a target="_blank" href="https://www.linkedin.com/in/olumide-bello-6b32b28a/" class="btn btn-lg btn-secondary">Connect with Olumide</a>
    </p>
  </main>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 pt-5 description"> <h3>ABOUT ME</h3> </div>
      <div class="col-lg-8 col-md-8 offset-lg-1 offset-md-1 pt-5 detail">
        <p>
            I am result-oriented person, driven by a great passion for learning and the implementation of knowledge and dedicated to serving for excellence in any IT environment where problem-solving and growth is paramount.
        </p>

      </div>
      <div class="col-lg-3 col-md-3 pt-5 description"> <h3>ACADEMIC CAREER</h3> </div>
      <div class="col-lg-8 col-md-8 offset-lg-1 offset-md-1 pt-5 detail">
        <h4>Lagos State University </h4>
        <p>
            When i'm not whooping other people's buttocks at Scrabble<sup>TM</sup>  or  <a href="https://www.chess.com/member/olumidebello" target="_blank">Chess</a>, then i'm probably <a href="https://king.com/play/candycrush" target="_blank">Crushing Candies</a> or trying to automate something else with Python. Oh I may also be reading a book,or learning some new Spanish vocabs.
            I am fascinated by Tech, Art, Photography and Poetry. I like collecting gadgets, writing REALLY shorts quotes(or stories) on <a href="https://www.mirakee.com/beardedwriter" target="_blank" rel="noopener noreferrer"> Mirakee</a>
        </p>

      </div>
      <div class="col-lg-3 col-md-3 pt-5 description"> <h3>WORK EXPERIENCES</h3> </div>
      <div class="col-lg-8 col-md-8 offset-lg-1 offset-md-1 pt-5 detail">
        <p>
            When i'm not whooping other people's buttocks at Scrabble<sup>TM</sup>  or  <a href="https://www.chess.com/member/olumidebello" target="_blank">Chess</a>, then i'm probably <a href="https://king.com/play/candycrush" target="_blank">Crushing Candies</a> or trying to automate something else with Python. Oh I may also be reading a book,or learning some new Spanish vocabs.
            I am fascinated by Tech, Art, Photography and Poetry. I like collecting gadgets, writing REALLY shorts quotes(or stories) on <a href="https://www.mirakee.com/beardedwriter" target="_blank" rel="noopener noreferrer"> Mirakee</a>
        </p>

      </div>
      <div class="col-lg-3 col-md-3 pt-5 description"> <h3>HOBBIES</h3> </div>
      <div class="col-lg-8 col-md-8 offset-lg-1 offset-md-1 pt-5 detail">
        <p>
            When i'm not whooping other people's buttocks at Scrabble<sup>TM</sup>  or  <a href="https://www.chess.com/member/olumidebello" target="_blank">Chess</a>, then i'm probably <a href="https://king.com/play/candycrush" target="_blank">Crushing Candies</a> or trying to automate something else with Python. Oh I may also be reading a book,or learning some new Spanish vocabs.
            I am fascinated by Tech, Art, Photography and Poetry. I like collecting gadgets, writing REALLY shorts quotes(or stories) on <a href="https://www.mirakee.com/beardedwriter" target="_blank" rel="noopener noreferrer"> Mirakee</a> and on <a target="_blank" href="https://medium.com/@zizo9585">Medium</a>
        </p>

      </div>
    </div>
    <div id="contact" class="text-center justify-content-center pt-5">
      <h4>HAVE A COOL WEB PROJECT YOU NEED ME TO WORK WITH YOU ON?</h4>
      <small>Or perhaps you want to take me on a hangout? 😊</small>
      <h6> You can either hit me up with the contact form below</h6>

      <div class="row">
        <div class="col-md-6 offset-md-3">
        <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
            <input type="text" name="name" class="form-control" id="username" placeholder="Name please?😊">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" id="email" placeholder="yourname@yourawesomecompany.com">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows=5 name="message" id="message" placeholder="Message goes here"></textarea>
        </div>
        <input type="submit" class="btn btn-secondary" value="Shoot!">
      </form>  
        </div>
      </div><br>
      <h6>Or you can catch me directly <a href="tel:+2349072635118">here</a> </h6> 

    </div>
  </div>
{% endblock content %}