{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .img-fluid{
        max-width:100%;
        height: auto;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .row a{
        color:darkorange;
      }
      .row a:hover{
        color:darkorange;
      }
      footer{
        font-size: 0.8em;
      }
      footer img{
        width: 1.3em;
        justify-content: center;
        align-items: center;
      }
    </style>
    <link href="{% static 'css/project.css' %} " rel="stylesheet">
{% endblock custom_css %}
{% block content %}
  <div class=" text-center container pt-5">
    <h2 class="pb-3">P R O J E C T S</h2>
    <div class="row">
        {% for job in jobs %}
        <div class="job col-md-2 pt-5">
          <div class="card mb-2 box-shadow-">
            <img src="{{job.image.url}}" alt="" class="card-img-top ">
            <div class="card-body">
              <h4 class="card-text"><a href="{% url 'jobdetail' job.id %}">{{job.title}} </a></h4>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

{% endblock content %}